/* src/components/InputBar.css */

.input-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
  }
  
  .input-bar input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: 8px;
  }
  
  .input-bar button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #5c3d2e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .input-bar button:hover {
    background-color: #422c20;
  }
  